<% title t(".title") %>

<h1><%= @project.name %></h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Preview</th>
      <th># classifications</th>
      <th>Status</th>
    </tr>
  </thead>
  <% @project.texts.each do |text| %>
    <tr>
      <td><%= link_to text.body.truncate_words(7), text_path(text.id) %></td>
      <td><%= text.text_labels.count %></td>
      <td><%= text.labelled_by?(current_user) ? '✓' : '✘' %></td>
    </tr>
  <% end %>
</table>
