// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

$font-family-sans-serif: 'Lato', sans-serif;

$border-radius-base:        2px;
$border-radius-large:       2px;
$border-radius-small:       2px;

$alert-border-radius:       0px;
