<% content_for(:content) do %>
  <%= render partial: 'shared/header' %>
  <%= bootstrap_flash %>
  <div class="container">
    <%= yield %>
  </div>
<% end %>

<%= render :template => 'layouts/shared' %>
